* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'godofwarfont';
    src: url(/font/GODOFWAR.TTF);
}
body {
    background-image: url(/img/wallpaper_god_of_war_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    font-family: 'godofwarfont';
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    text-shadow: 2px 2PX 2PX black;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
main ul {
    padding-left: 20px;
}
nav li {
    width: 100%;
    list-style: none;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    transition: 1s, ease-in-out 1s;
}
nav li:hover{
    backdrop-filter: blur(15px);
} 
nav a {
    text-decoration: none;
    color: red;
    transition: 1s, ease-in-out 1s;
}
nav a:hover {
    color: #fff;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
main aside {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px;
    border-radius: 30px;
}
main aside figure {
    padding: 5px 0 5px 15px;
    text-align: center;
}
main section {
    margin: 30px;
    border-radius: 30px;
}
/* aside {
    display: grid;
    grid-template-columns: 2fr 2fr;
} */
aside section {
    margin: 30px;
}
aside section ul {
    display: flex;
    justify-content: space-around;
}
aside section li {
    list-style: none;
    text-align: center;
}
footer {
    display: grid;
    grid-template-rows: 1fr auto ;    
}
footer section {
    margin: 5px;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 2px red;
    transition: 1s, ease-in-out 1s;
}
h1:hover {
    color: #db9720;
    text-shadow: 3px 2PX 1PX black;
}
h3 {
    text-align: center;
}
h2 {
    padding-bottom: 15px;
    padding-left: 25px;
}
p {
    padding: 5px;
}
#copy {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 0;
    text-align: center;
    color: black;
}
.transparent {
    backdrop-filter: blur(5px);
}